# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE settings
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Others
*.log
