
/* Leave application*/
.leave-application-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 10px;
}
.leave-containers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto; 
}
.centre-heading {
  margin: 0 auto 20px auto;
  font-size: 16px;
  text-align: center; 
  text-decoration: underline;
}

.leave-containers>div {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.header {
  color: black;
  border-radius: 4px;
  font-size: 18px !important;
}

.header1 {
  background-color: #BDC5F1;
  color: black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 10px;
}

.card {
  flex: 1 ;
  
}



.leave-title {
  margin-bottom: 10px;
}




.leave-container textarea {
  /* height: 30px; */
  background-color: transparent;
  font-family: Arial, sans-serif;
}

.leave-container input[type='date'],
.leave-container input[type='time'],
.leave-container .TimePicker,
.leave-container textarea,
.leave-container select {
  width: 100%;
  background-color: transparent !important;
}

.leavesubtitle {
  font-size: medium;
  color: #777777;
  margin-bottom: 10px;
}

.vertical-line {
  height: 100%;
  width: 20px;
  background-color: black;
  margin: 0 20px;
}
.clear-dates-button {
  cursor: pointer;
  color: red;
  border: none;
margin-left: 190px;
}
































 /* Leave Application css*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.row div {
  flex: 1;
  min-width: 200px;
}

.row label {
  display: block;
  margin-bottom: 5px;
}

.row input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.leave-balance-section {
  display: block; 
  width: 230px;    
  margin-bottom: 16px; 
  /* padding: 16px;  */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: auto; 
  border-radius: 5px;  
}
.dashboard-form {
  flex: 3; 
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.leave-policies-button {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  width: 100%;                    
}

.leave-policies-label {
  font-size: 15px;
  text-decoration: underline;
cursor: pointer;
}

.leave-policies-icon {
  font-size: 16px; 
  margin-right: 20px; 
  cursor: pointer;
}



.total-leaves-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  flex: 1;
}

.total-leaves-label {
  font-size: 12px;
  color: #000; 
}
.calendar-popup {
    position: absolute;
    z-index: 10;
    border: 1px solid #ccc;
}
.date-range-picker {
  flex: 2;
  display: flex;
  align-items: center;
  position: relative;

}
.date-input-wrapper {
  position:   relative;
  display: flex;
  align-items: center;
  margin-left: 400px;

}

.date-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 130px;

}

.calendar-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}


.leavemodal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%; 
  max-width: 600px; 
  max-height: 80vh;
  overflow-y: auto; 
  margin-top: 20px; 
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

/* Modal Styles */
.modal-overlay { position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1000;
 
}

.modal {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 80%;
  max-width: 70%; 
  max-height: 90%;
  overflow: auto;
  position: absolute;
  
}

.modal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal .form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal .form-group {
  width: calc(50% - 10px);
  margin-bottom: 15px;
}

.modal .form-group label {
  display: block;
  font-weight: bold;
}

.modal .form-group input,
.modal .form-group textarea,
.modal .form-group select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal .form-group textarea {
  min-height: 90px;
  width: 200%;
}











