<<<<<<< HEAD

=======
>>>>>>> 8a5f66f (merging code)
.jd-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 10px;
  justify-content: flex-start;
}

.jd-card {
  background: white;
  border-radius: 12px;
  padding: 16px 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);
  transition: all 0.3s ease;
  position: relative;
  border-left: 4px solid #7926c1;
<<<<<<< HEAD
    flex: 0 0 calc(33.333% - 13.33px); 
=======
  flex: 0 0 calc(33.333% - 13.33px);
>>>>>>> 8a5f66f (merging code)
  box-sizing: border-box;
  min-width: 280px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< HEAD
  overflow: hidden; 
=======
  overflow: hidden;
>>>>>>> 8a5f66f (merging code)
  word-wrap: break-word;
}

.jd-card .content {
  flex-grow: 1;
}

.jd-card footer {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #999;
}

.jd-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.5);
}

.jd-card h4 {
  font-size: 1rem;
  color: #003366;
  text-align: center;
  margin: 0 0 10px;
}


.status-badge {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: bold;
}

.status-css {
  position: absolute;
  top: 90px;
  right: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: bold;
}
<<<<<<< HEAD
.status-css.completed{
  border: 1px solid green;
  color: green;
}
=======

.status-css.completed {
  border: 1px solid green;
  color: green;
}

>>>>>>> 8a5f66f (merging code)
.status-badge1 {
  position: absolute;
  bottom: 12px;
  /* right: 12px; */
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: bold;
}


.status-active {
  background-color: #d3f9df;
  color: #2e7d32;
  border: 1px solid #2e7d32;
}

.inactive {
  color: #bf4a4a;
  border: 1px solid #c62828;
}

.Jddescription {
  font-size: 0.8rem;
  color: #444;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 10px;
  border: none;
}

.jd-card ul {
  list-style: none;
  padding: 0;
  margin: 6px 0 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.jd-card ul li {
<<<<<<< HEAD
  background-color: #eef3f8;
=======
  background-color: #dceaf7;
>>>>>>> 8a5f66f (merging code)
  color: #333;
  font-size: 0.76rem;
  padding: 4px 8px;
  border-radius: 12px;
  white-space: nowrap;
}

<<<<<<< HEAD
=======
.skill-list {
  list-style: none;
  padding: 0;
  margin: 6px 0 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.skill-list li {
  background-color: #cbe3fc;
  color: #333;
  font-size: 0.76rem;
  padding: 4px 8px;
  border-radius: 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
}



>>>>>>> 8a5f66f (merging code)
.card-footer {
  font-size: 0.7rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: auto;
}

.Top-right-corner {
  position: absolute;
  top: 10px;
  right: 10px;

}












.recruitment-table {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  /* Controls vertical space between rows */
  color: #e0e0e0;
  box-sizing: border-box;
}

.recruitment-table thead {
  background: linear-gradient(to right, rgba(75, 108, 183, 0.8), rgba(24, 40, 72, 0.8));
  color: white;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 10px;
}

.recruitment-table thead th {
  height: 40px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
}

.recruitment-table thead th:last-child {
  border-right: none;
}

.recruitment-table tbody tr {
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  height: 50px;
  vertical-align: middle;
  border-radius: 10px;
  overflow: hidden;
}

.recruitment-table tbody tr:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.recruitment-table thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
<<<<<<< HEAD
  
=======

>>>>>>> 8a5f66f (merging code)
}

.recruitment-table thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recruitment-table td {
  font-size: 14px;
  vertical-align: middle;
  background-color: whitesmoke;
}

<<<<<<< HEAD
.recruitment-table .Ravatar 
 {
=======
.recruitment-table .Ravatar {
>>>>>>> 8a5f66f (merging code)
  width: 36px;
  height: 50px;
  border-right: 2px solid rgb(0, 0, 0);
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(75, 108, 183, 0.8), rgba(24, 40, 72, 0.8));
}
<<<<<<< HEAD
.interview-table .Ravatar{
=======

.interview-table .Ravatar {
>>>>>>> 8a5f66f (merging code)
  background: linear-gradient(to right, rgba(75, 108, 183, 0.8), rgba(24, 40, 72, 0.8));
  width: 15px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

.recruitment-table input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;

}

.recruitment-table tbody tr td:first-child {
  border-top-left-radius: 10px;
<<<<<<< HEAD
  
=======

>>>>>>> 8a5f66f (merging code)
}

.recruitment-table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
<<<<<<< HEAD
  
=======

>>>>>>> 8a5f66f (merging code)
}