.CreateWorkflow.css .button-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.button-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.button-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.button-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.workflowmodal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 16px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    border-top: 1px solid #e9ecef;
    margin-top: 16px;
    padding-top: 8px;
}

.input-field {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: calc(100% - 18px);
    font-size: 14px;
}

/* .checkbox-field {
    margin-left: 15px;
} */
.checkboxinput-row {
    display: flex;
    align-items: center;
}

.checkbox-label {
    text-align: left;
    margin-right: 5px;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
    font-size: 12px;
}

.details-table th,
.details-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.details-table th {
    background-color: #f8f9fa;
}

.detail-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.detail-inputs .input-field {
    flex: 1 1 calc(33% - 16px);
}
.input-row1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .modal-content {
        background: #fff;
        border-radius: 10px;
        width: 80%;
        max-width: 600px;
        padding: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        position: relative;
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-right: 60px;
       
    }
    .input-row1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    .detail-inputs .input-field {
        flex: 1 1 calc(50% - 16px);
    }
    .checkbox-label {
        text-align: left;
        margin-right: 5px;
        font-size: 5px;
    }
    .input-checkbox {
        margin-left: 10px;
        width: 9px;
        border-radius: 5px;
      }
}

@media (max-width: 480px) {
    .detail-inputs .input-field {
        flex: 1 1 100%;
    }
}